<div class = "ziggy">
  <br>Selectionné la Difficulté :
  <input type="radio" name="genre" value="Easy">
  <label for="Easy">
    Facile
  </label>
  <input type="radio" name="genre" value="Medium">
  <label for="Medium">
    Moyen
  </label>
  <input type="radio" name="genre" value="High">
  <label for="High">
   Difficile
 </label>
 <label>
  <br>Nombre de joueurs :
</label>
<select name="Nbr_player">
  <option value="2">
    2
  </option>
  <option value="3">
    3
  </option>
  <option value="4">
    4
  </option>
  <option value="5">
    5
  </option>
  <option value="6">
    6
  </option>
  <option value="7">
    7
  </option>
  <option value="8">
    8
  </option>
  <option value="9">
    9
  </option>
  <option value="10">
    10
  </option>
</select>
<label>
  <br>Univers :
</label>
<select name="Univers">
  <option value="Médieval">
    Médieval
  </option>
  <option value="Fantastique">
    Fantastique
  </option>
  <option value="Contemporain">
    Contemporain
  </option>
  <option value="Horreur">
    Horreur
  </option>
  <option value="Futuriste">
    Futuriste
  </option>
</select>
<br>
<label for="adresse">
 Titre du scénario :
</label>
<input type="text" name="Titre"/>
<br>
<button name="Generate">Générer</button>
</div>