<div id = "Content">
        <h1 id = "titre_scenario">S'unir pour survivre.</h1>
        <div id = "players">
          <p><u>Nombre de Joueurs : 5</u></p>
          <p id = "name_players">Michel Dupont<br>Thibault Lafitte<br>Irène Mathieu<br>Véronique Nanty<br><br>Organisateur :<br>Eric LeMaître</p>
        </div>
        <img id = "taille_img" src="ile deserte.jpg">île déserte</img>
          <p id = "Scenario">
          Vos collègues ainsi que vous même avez bénéficié des vacances bien méritées au Viet-Nam,<br>mais ce voyage ne va pas se passer comme prévu…<br>Alors que vous êtes tous au bord de l’avion, vous entendez <i>« Crik »</i> !<br>Et oui, l’avion est malheureusement défectueux…. <i>« Craaaaaaash »</i> !<br>Votre équipage s’est échoué sur une île déserte.<br>2 jours plus tard, Vous vous réveillez, vous voyez vos collègues et commencez à les réveiller.<br>C’est à ce moment précis que votre aventure commence !<br>Pour survivre, vous devrez vous unir, vous devrez être organisés, vous<br><b>compléter</b>.<br>Sinon la joie de vous réveiller le lendemain ne sera plus.<br>Savez-vous réellement travailler ensemble ? Savez-vous être altruiste ?<br>Cette aventure vous obligera à l’être...
          </p>
          <div id="download">
            <a href=""><img src="download.png" alt=""/>Télécharger</a>
          </div>
          
</div>