body {
	margin: auto;
	min-width: 1024px;
	max-width: 1600px;
	background-color: #808080;
	font-family: arial;
	/*background-image: url("favicon.ico");*/
}

section h1{
	padding: 50px;
	color: #000080;
}

section #Content{
	width: 100%;
	height: 1000px;
	margin-top: 100px;
	background-color: white;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 750px;
	width: 100%;
	height: 40px;
	background-image: url("Menu.png");
	background-repeat: repeat-x;
	background-size: 2px 100%;
	font-size: 10px;
}

header form {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 40px;
	z-index: 1;
}

header form a {
	padding: 2px 5px;
	font-size: 12px;
}

header form input, header form a{
	background-color: #fff;
	border: solid 1px #555;
	border-radius: 4px;
	min-width: 50px;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	font-family: arial;
}

header form label{
	margin-right: 10px;
	margin-left: 10px;
}

/**/

#main-menu li {
	display: inline-block;
	height: 40px;
	width: 100px;
	margin-right: -3px;
	text-align: center;
	line-height: 40px;
}

#main-menu>li {
	width: 100%;
	text-align: left;
	position: absolute;
	left: 0;
	top: 0;
}

#main-menu>li>a {
	width: 200px;
}

#main-menu>li>ul {
	margin-top: -17px;
	background-image: url("Nav.png");
	background-repeat: repeat-x;
	background-size: 2px 100%;

}

#main-menu ul li {
	display: inline-block;
}

#main-menu, #main-menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

#main-menu a {
	font-size: 10px;
	text-decoration: none;
	display: block;
	color: #000;
}

#main-menu ul {
    position:absolute;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
    -moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all 0.3s;
}

#main-menu li:hover ul{
	max-height: 40px;
}

#main-menu  li:hover {
	text-decoration: underline;
}

/**/

footer {
	width: 100%;
	height: 200px;
	background-color: #222;
}

footer #reseaux_sociaux ul, footer #contact ul{
	display: inline-block;
	list-style-type: disc;
	padding: 0;
	line-height: 200px;
	/*-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;*/
}

footer #contact {
	float: right;
	width: 250px;
}

footer #reseaux_sociaux {
	float: left;
	width: 250px;
	margin-left: 25px;
}

footer li {
	height: 65px;
	border: 1px dotted #fff;
	font-size: 15px;
	font-family: Trebuchet MS;
	color: #fff;
	text-align: left;
	padding-left: 85px;
	padding-right: 25px;
	line-height: 80px;
	list-style: none;
	cursor: pointer;
}

footer #facebook {
	background: url('facebook.png') left no-repeat #F0652A;
}

footer #co-labs {
	background: url('colabs2.png') left no-repeat #F0652A;
}

footer #twitter {
	background: url('twitter.png') left no-repeat #F0652A;
}

footer #mail {
	background: url('contact.png') left no-repeat #F0652A;
}

footer #twitter:hover {
	background: url('twitter2.png') left no-repeat #F0652A;
}

footer #facebook:hover {
	background: url('facebook2.png') left no-repeat #F0652A;
}

footer #co-labs:hover {
	background: url('colabs.png') left no-repeat #F0652A;
}

footer #mail:hover {
	background: url('contact2.png') left no-repeat #F0652A;
}

footer a{
	color: #fff;
	text-decoration: none;
}